h2 {color: black;

}

body{background-color: rgb(179, 140, 224);
    margin: 0;
    border: 7px solid rgb(240, 235, 235);
    height: 100vh;
}

* {
    text-align: center;
}
li {
    width: fit-content;
    margin: auto;
}

img{width: 400px;
height: 300px;
border: 5px solid rgb(105, 89, 89);
border-radius: 20px;
padding: 5px;
}

h1{background-color: rgb(140, 61, 214);};





