h2 {
    color: black;

}

body {
    background-color: rgb(213, 219, 255);
    margin: 0;
    border: 7px solid rgb(60, 145, 255);
    height: 100vh;
}

* {
    text-align: center;
}

li {
    width: fit-content;
    margin: auto;
}

img {
    width: 400px;
    height: 300px;
    border: 6px solid rgb(190, 210, 255);
    border-radius: 20px;
}

h1 {
    background-color: rgb(167, 191, 255);
}

div {
    margin: 20px;
}

a{
    text-decoration: none;
}

#Voltar {
    position: fixed;
    bottom: 0;
    left: 0;
}