body{
    background-color: rgb(131, 117, 143);
}

/*h1{
    color: aliceblue;
}*/

.clicar{
    text-decoration: none;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 15px;
}

.menu{
    background-color: rgb(95, 75, 112);
    margin-top: -7px;
    padding: 8px;
    margin-left: -8px;
    margin-right: -8px;
    cursor: pointer;
    /* list-style: none; */
}

.eu{
    margin-left: 45%;
    display: flex;
    font-size: 23px;
    gap: 10%;
    margin-top: -15px;
    border: 0px;
}

.titulo{
    margin-left: 90px;


}

.começo{

}