@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.divMeio {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.divPrincipal {
    margin-top: 5%;
    width: 100%;
    max-width: 1100px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1vh;
    margin-bottom: 4vh;
}

.divBotao {
    margin-bottom: 1vh;
}

.divTabela {
    margin: 5%;
    width: 90%;
    border: 3px solid black;
    overflow-x: auto;
}

.tabMedicos {
    width: 100%; 
    max-width: 1100px; 
    border: 2px solid gray;
    font-family: "Montserrat", serif;
}

.tituloTab {
    font-size: 20px;
    border: 2px solid #896676;
}

.corpoTab {
    font-size: 20px;
    border: 2px solid #c8c8c8;
}

.linhasTab {
    font-size: 18px;
    border: 2px solid #c8c8c8;
    padding: 15px;
}

.linhasTit {
    font-size: 18px;
    border: 2px solid #460724;
    background-color: #460724;
    padding: 15px;
    font-weight: bold;
    color: #ffffff;
}

.searchButton {
    background-color: #460724;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.searchButton:hover {
    background-color: #460724;
}

.searchButton:focus {
    outline: none;
}

.searchButton:hover {
    background-color: #460724; 
}

.searchButton:active {
    background-color: #460724;
}

/* Estilos do pop-up */
.popUpDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popUp {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pesquisaInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

.medicoList {
    max-height: 300px;
    overflow-y: auto;
}

.medicoItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.medicoItem:hover {
    background-color: #f0f0f0;
}

.fechar {
    background-color: #460724;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2vh;
}

.fechar:hover {
    background-color: #460724;
}

@media (max-width: 980px) {
    .title {
        font-size: 22px;
    }
    .tituloTab {
        font-size: 16px;
        border: 2px solid #896676;
    }
    .linhasTit {
        font-size: 14px;
    }
    .linhasTab {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .title {
        font-size: 22px;
    }
    .tituloTab {
        font-size: 14px;
        border: 2px solid #896676;
    }
    .linhasTit {
        font-size: 12px;
    }
    .linhasTab {
        font-size: 12px;
    }
}

@media (max-width: 720px) {
    .title {
        font-size: 22px;
    }
    .tituloTab {
        font-size: 12px;
        border: 2px solid #896676;
    }
    .linhasTit {
        font-size: 10px;
    }
    .linhasTab {
        font-size: 10px;
    }
}

@media (max-width: 630px) {
    .title {
        font-size: 22px;
    }
    .tituloTab {
        font-size: 11px;
        border: 2px solid #896676;
    }
    .linhasTit {
        font-size: 9px;
    }
    .linhasTab {
        font-size: 9px;
    }
}

@media (max-width: 480px) {
    .divPrincipal {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
    }
  
    .linhasTab, .linhasTit {
        font-size: 12px;
        padding: 8px;
    }
  
    .title {
        font-size: 18px;
        text-align: center;
    }
  }
