
.clicar{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-bottom: 15px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(95, 75, 112);
    width: 100%;
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
    /*border: solid;*/
}
.nivea{
    height: 400px;
    width: 350px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin-left: 850px;
    margin-top: -260px;
}

.eu{
    margin-left: 600px;
    font-size: 18px;
    
}
.clicar{
    padding-left: 10px;
    padding: 15px;
    font-size: 20px;
}
@media (max-width: 1025px){
    header{
        padding: 10px 1px;
        width: 100%;
    }
    .eu{
        display: flex;
        gap: 1%;
        margin-left: 19%;
    }
    .titulo{
        font-size: 115%;
        margin-top: 2%;
        margin-left: 50%;
    }
    .clicar{
        margin: 0;
        font-size:80% ;
    }
}